<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accordion</title>
  <link rel="stylesheet" href="/components/task-13/style.css">
</head>

<body class="w-full bg-green-50">

  <section class="bg-white rounded-2xl shadow-2xl p-8 w-fit m-auto mt-4">
    <div class="accordion-item">
      <div class="header flex justify-between">What is a full-stack developer? <span><img
            src="/components/task-13/assets/down.svg" alt=""></span></div>
      <div class="contenta">
        A full-stack developer builds both the front-end and back-end of websites
        and applications, handling databases, servers, and user interfaces.
      </div>
    </div>

    <div class="accordion-item">
      <div class="header flex justify-between">What is a full-stack salary?<span><img
            src="/components/task-13/assets/down.svg" alt=""></span></div>
      <div class="contenta">
        Full-stack developer salaries vary by experience and location, typically
        ranging from ₹6–12 LPA for freshers to ₹15–30+ LPA for seniors in India.
      </div>
    </div>

    <div class="accordion-item">
      <div class="header flex justify-between">What are the skills of a full-stack developer? <span><img
            src="/components/task-13/assets/down.svg" alt=""></span></div>
      <div class="contenta">
        Skills include HTML, CSS, JavaScript, React, Node.js, databases, Git,
        problem-solving, and communication skills.
      </div>
    </div>
    <div class="text-center"><a href="/"><button type="button"
          class="bg-white px-3  py-2 hover:bg-green-700  rounded"><img src="/components/task-13/assets/Arrow back.svg"
            alt="back" class="w-4 h-4"></button></a></div>
  </section>

  <script type="module" src="/components/task-13/main.js"></script>

</body>

</html>